body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.rb-default {
  position: fixed;
  z-index:1;
  bottom: 0;
  width: 100vw;
  padding: 0;
  background-color: #0288D1;
  text-align: center;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  font-size: 20px;
  display: none;
}

.rb-show {
  display: block;
}
